<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC ÖĞRENMEYE ÇALIŞMAK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div style="text-align: center;">
             <span style="color: red; font-family: Courier New, Courier, monospace; font-size: large;"><span style="line-height: 18px;">SAYGILARIMLA</span></span>
            </div>
            <br />
            <div style="text-align: center;">
                <span style="font-size: large;">
                    <b>
                        <script>
                            var text = "EDIT BY BATUHAN K"
                            var speed = 24
                            if (document.all || document.getElementById) {
                                document.write('<span id="highlight">' + text + '</span>')
                                var storetext = document.getElementById ? document.getElementById("highlight") : document.all.highlight
                            }
                            else
                                document.write(text)
                            var hex = new Array("00", "14", "28", "3C", "50", "64", "78", "8C", "A0", "B4", "C8", "DC", "F0")
                            var r = 1
                            var g = 1
                            var b = 1
                            var seq = 1
                            function changetext() {
                                rainbow = "#" + hex[r] + hex[g] + hex[b]
                                storetext.style.color = rainbow
                            }
                            function change() {
                                if (seq == 6) {
                                    b--
                                    if (b == 0)
                                        seq = 1
                                }
                                if (seq == 5) {
                                    r++
                                    if (r == 12)
                                        seq = 6
                                }
                                if (seq == 4) {
                                    g--
                                    if (g == 0)
                                        seq = 5
                                }
                                if (seq == 3) {
                                    b++
                                    if (b == 12)
                                        seq = 4
                                }
                                if (seq == 2) {
                                    r--
                                    if (r == 0)
                                        seq = 3
                                }
                                if (seq == 1) {
                                    g++
                                    if (g == 12)
                                        seq = 2
                                }
                                changetext()
                            }
                            function starteffect() {
                                if (document.all || document.getElementById)
                                    flash = setInterval("change()", speed)
                            }
                            starteffect()
                        </script><span id="highlight" style="color: #c8f000;"></span>
                    </b>
                </span> 
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>