
@{
    ViewBag.Title = "INFORMATION";
    //Layout = null;
}

<h2>INFORMATION</h2>
<h3>NAME: @ViewData["NAME"]</h3>
<h3>SURNAME: @ViewBag.SURNAME</h3>
<h3>AGE: @TempData["AGE"]</h3>
<div>
    <h1>NEWS</h1>
    <div>
        @Html.Partial("Katagori")
    </div>
    <div>
        <p>
               <font-size:40><h1><i>"KAN BAĞIŞINA İHTİYACIMIZ VAR"</i></h1></font-size:40>
                Zelenski ayrıca "Sabahtan beri askerlerimiz ardında yaralananlar oldu.
                Kan bağışına ihtiyacımız var. Gelin kan verin. Toplum için çalışın,
                hepimiz için çalışın, her çalışan bize mal ve hizmet sağlamaya devam etmeli.
                Rusya ile demokratik bağları tamamen kopardık. Ülkemizi Rusya'ya bırakmayacağız.
                Rusya, ülkemize sabah saatlerinde Nazilerin 2. Dünya Savaşı'nda yaptığı gibi korkakça saldırmıştır.
                Rusya vatandaşları hangi yolu seçeceklerini kendileri karar verecek. Ruslara sesleniyorum.
                Sokağa çıkıp, tepkinizi gösterin. Sizin Rus kanallarındabunu engelleyecekler.
                Onların amacı bir ulusu yok etmek, bu imkansız. Tarihi silemezsiniz, bu mümkün değil" dedi.
            
<p>
    </div>
</div>