

@{
    ViewBag.Title = "Kitap";
}


<div>
    <h2><font color="red"><b>KİTAP BİLGİLERİ</b></font color="red"></h2>
    <h4><font color="red">Seri No:</font color="red"><i>@Model.SeriNo</i></h4>
    <h4><font color="red">Yazar Yaşı:</font color="red"><i>@Model.Yaş</i></h4>
    <h4><font color="red">Yazar Adı:</font color="red"><i>@Model.YazarAdi</i></h4>
    <h4><font color="red">Kitap Adı:</font color="red"><i>@Model.KitapAdi</i></h4>
</div>