

@{
    ViewBag.Title = "Kitap";
}


<div>
    <h2>Kitap</h2>
    <h4>SeriNo:@Model.SeriNo</h4>
    <h4>Yazar Yaşı:@Model.Yaş</h4>
    <h4>Yazar Adı:@Model.YazarAdi</h4>
    <h4> Kitap Adı:@Model.KitapAdi</h4>
</div>